* {
	box-sizing: border-box !important;
	background-repeat: no-repeat !important;
	word-break: break-word !important;
	color: #0D1011;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: Manrope;
	background-color: #EAE7E1;

	* {
		font-family: Manrope;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0%;
		color: #0D1011;
	}
}

.no-scroll {
	overflow-y: hidden;
}

h1 {
	font-family: Manrope;
	font-weight: 500;
	font-size: 40px;
	line-height: 120%;
	letter-spacing: 0%;
}

h2 {
	font-family: Manrope;
	font-weight: 500;
	font-size: 40px;
	line-height: 130%;
	letter-spacing: 0%;
}

.def_title {
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;

	.button_v2,
	.button {
		font-family: Manrope;
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		vertical-align: middle;
		height: 50px;
		padding: 14px;
		max-width: 193px;
	}

	.subtext {
		font-family: Manrope;
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0%;
		color: #725E51;
		max-width: 460px;
	}

	&.v2 {
		align-items: start;
		flex-wrap: wrap;

		@media (max-width: 500px) {
			margin-bottom: 20px;
		}
	}

	&.v3 {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.button_v2,
.button {
	&.v3 {
		max-width: 171px;
		height: 50px;
		font-family: Manrope;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		margin: 40px auto 0;
	}
}

@media (max-width: 960px) {
	.def_title {

		.button_v2,
		.button {
			display: none;
		}
	}
}

h1.title {
	margin: 0 auto 60px;
	width: 100%;
	max-width: 1312px;
	padding: 0 16px;
}

@media (max-width: 500px) {
	h1.title {
		margin: 0 0 20px;
	}
}

h3 {
	font-family: Manrope;
	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	letter-spacing: 0%;
}

h4,
h5,
h6 {
	font-family: Manrope;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0%;
}

@media (max-width: 500px) {

	body * {
		font-family: Manrope;
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0%;
	}

	h1 {
		font-family: Manrope;
		font-weight: 500;
		font-size: 30px;
		line-height: 120%;
		letter-spacing: 0%;
	}

	h2 {
		font-family: Manrope;
		font-weight: 500;
		font-size: 30px;
		line-height: 130%;
		letter-spacing: 0%;
	}

	h3 {
		font-family: Manrope;
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
		letter-spacing: 0%;
	}

	h4,
	h5,
	h6 {
		font-family: Manrope;
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0%;
	}
}

a {
	text-decoration: none;
	transition: .5s;
	cursor: pointer;
}

a:hover {
	transition: .5s;
	color: #725E51;
}

main {
	padding: 0;
	margin: 0;
	position: relative;
}

.padding {
	padding: 0 16px;
}

.margin_bot {
	margin-bottom: 120px;
}

@media (max-width: 720px) {
	.margin_bot {
		margin-bottom: 40px;
	}
}

.flex {
	display: flex;
}

.flex-direct {
	flex-direction: column;
}

.smooth {
	transition: .5s;
}

.smooth:hover {
	transition: .5s;
}

.def_div {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.button {
	font-family: Manrope;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: #E4E2DE;
	height: 50px;
	width: 100%;
	transition: .5s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 5px 10px;
	border: 1px solid #725E51;
	background-color: #725E51;
}

.button:hover:not(:disabled) {
	background-color: #725e5100;
	transition: .5s;
}

.button_v2 {
	font-family: Manrope;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: #725E51;
	height: 50px;
	width: 100%;
	transition: .5s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 5px 10px;
	border: 1px solid #725E51;
	background-color: #725e5100;
}

.button_v2:hover:not(:disabled) {
	background-color: #725E51;
	transition: .5s;
	color: #E4E2DE;
}

button:disabled {
	opacity: .6 !important;
	cursor: default !important;
}

.button_v2:disabled {
	opacity: .6;
	cursor: default;
}

.invise {
	display: none !important;
	height: 0 !important;
	width: 0 !important;
}

.no_vis {
	opacity: 0;
}

.default {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto 120px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.default a {
	color: #725E51;
	text-decoration: underline;
	display: inline-block;
}

.default ul {
	list-style-position: inside;
	padding-left: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.default ol {
	list-style-position: inside;
	padding-left: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding-left: 0;
}

.default ul li {
	list-style: disc;
}

.default ul li::marker {
	color: #0D1011;
}

.default table {
	width: 100%;
}

.default caption {
	border-bottom: none;
	background-color: #725E51;
}

.default thead th {
	background-color: #725E51;
}

.default tbody td {
	background-color: #E4E2DE;
	text-align: center;
}

.fancybox-button *,
.fancybox-infobar * {
	color: #FFF !important;
}

.fancybox-caption__body {
	color: #FFF;
}

.bread {
	width: 100%;

	ul {
		display: flex;
		gap: 10px 12px;
		align-items: center;
		flex-wrap: wrap;
		padding: 40px 0;
		width: 100%;
		max-width: 1280px;

		li {
			font-family: Manrope;
			font-weight: 400;
			font-size: 14px;
			line-height: 120%;
			letter-spacing: 0%;
			color: #725E51;
			display: flex;
			align-items: center;

			svg {
				// max-width: 3px;
				// max-height: 6px;
				// min-height: 6px;
				// min-width: 3px;
			}

			a {
				font-family: Manrope;
				font-weight: 400;
				font-size: 14px;
				line-height: 120%;
				letter-spacing: 0%;
				color: #725E51;
			}

			p {
				font-family: Manrope;
				font-weight: 400;
				font-size: 14px;
				line-height: 120%;
				letter-spacing: 0%;
				color: #725E51;
			}

			a:hover {
				color: #b69681;
			}
		}
	}
}

@media (max-width: 500px) {
	.bread {

		ul {
			overflow-x: scroll;
			flex-wrap: nowrap;
			padding: 20px 0 40px;

			li {
				white-space: nowrap;

				* {
					white-space: nowrap;
				}
			}
		}
	}
}

[data-href] {
	cursor: pointer;
}

.sw_cont {
	position: relative;
}

.sw-btn {
	position: absolute;
	top: 50%;
	left: -20px;
	transform: translateY(-50%) translateX(-100%);
	max-width: 50px;
	max-height: 50px;
	min-height: 50px;
	min-width: 50px;
	z-index: 1;
	cursor: pointer;
	transition: .5s;
	border-radius: 50%;
	background-image: url('./../img/arrow_1.svg');
	background-position: center;
	background-size: contain;
}

.sw-btn.swiper-button-disabled {
	opacity: 0;
	cursor: default;
}

@media (min-width: 1281px) {
	.sw-btn:hover:not(.sw-btn.swiper-button-disabled) {
		transform: translateY(-50%) translateX(-100%) scale(1.03);
	}

	.sw-btn-next:hover:not(.sw-btn.swiper-button-disabled) {
		transform: translateY(-50%) translateX(100%) rotate(180deg) scale(1.03);
	}
}

.sw-btn-next {
	left: auto;
	right: -20px;
	transform: translateY(-50%) translateX(100%) rotate(180deg);
}

@media (max-width: 1440px) {
	.sw-btn {
		display: none;
	}
}


#load-svg {
	position: fixed;
	transition: 0.5s;
	z-index: 1001;
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3607843137);
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
}

#load-svg svg {
	max-width: 64px;
	max-height: 64px;
	min-height: 64px;
	min-width: 64px;
}

#load-svg.open {
	visibility: visible;
	opacity: 1;
}

.overlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: #000;
	opacity: 0;
	visibility: hidden;
	z-index: 11;
	transition: 0.5s;
}

.overlay.open {
	visibility: visible;
	opacity: 50%;
	transition: 0.5s;
}

.popupCheck {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: max-content;
	padding: 0 20px;
}

.popupCheck .popup__container {
	display: flex;
	flex-direction: column;
	width: auto;
	position: relative;
	background-color: #FFF;
	border-radius: 8px;
	width: 100%;
	max-width: 400px;
	padding: 40px 20px 20px;
	max-height: 70vh;
	overflow-y: scroll;
}

.popupCheck .popup__container h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: 28.8px;
	text-align: left;
	color: #0D1011;
	margin-bottom: 15px;
	text-align: center;
}

.popupCheck .popup__container p {
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
	text-align: left;
	color: #0D1011;
	margin-bottom: 20px;
}

.popupCheck .popup__container span,
.popupCheck .popup__container span a {
	font-size: 12px;
	font-weight: 400;
	line-height: 19.6px;
	text-align: left;
}

.popupCheck .popup__container span a {
	text-decoration: underline;
}

.popupCheck .popup__container span {
	margin-bottom: 10px;
}

.popupCheck .popup__container .close-btn {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 3;
	cursor: pointer;
	width: 25px;
	height: 25px;

	path {
		transition: .5s;
	}
}

.popupCheck .popup__container .close-btn:hover path {
	opacity: 0.5;
}

.popupCheck.open {
	display: flex;
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}

@media (min-width: 991px) {
	.popupCheck .popup__container {
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.popupCheck .popup__container::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}

.popupForm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.popupForm .def_div {
	overflow: hidden;
	overflow-y: scroll;
	max-height: 80vh;
	position: relative;
}

.popupForm .def_div {
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.popupForm .def_div::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.popupForm.open {
	visibility: visible;
	opacity: 1;
}

@media (max-width: 500px) {
	.popupForm {
		padding-left: 0;
		padding-right: 0;
	}
}

.popup-call-back {
	background-color: #FFF;
	max-width: 500px;
	border-radius: 8px;
	position: relative;
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.popup-call-back .close-btn {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 3;
	cursor: pointer;
	width: 25px;
	height: 25px;
}

.popup-call-back .close-btn path {
	transition: 0.5s;
}

.popup-call-back .close-btn:hover path {
	fill: #d9b66e;
}

.popup-call-back .inputs_cont {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.popup-call-back .inputs_cont input {
	width: 100%;
	height: 50px;
	border-radius: 8px;
	border: 1px solid #0D1011;
	padding: 0 10px;
}

.popup-call-back .inputs_cont .input_cont.err input {
	border-color: #a73333;
	color: #a73333;
}

.popup-call-back .inputs_cont .input_cont.err input::placeholder {
	color: #a73333;
}

.popup-call-back h2 {
	line-height: 1;
}

.checkbox {
	.check {
		display: none;
	}


	&.checked {
		.check {
			display: block;
		}
	}
}

.popupForm .check-box-btn img {
	max-width: 17px;
	max-height: 17px;
	min-height: 17px;
	min-width: 17px;
	object-fit: contain;
	object-position: center;
	position: relative;
	top: 4px;
}

.popup-call-back .bot {
	margin-top: 20px;
	margin-bottom: 10px;
}

.popup-call-back .bot .checkbox {
	display: flex;
	/* align-items: center; */
	gap: 10px;
}

.popup-call-back [type=submit]:hover {
	color: #725E51;
}

.popup-call-back [type=submit]:disabled {
	color: #FFF;
}


.sogl {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #EAE7E1;
	;
	width: 100%;
	transition: 0.5s;
	display: flex;
	padding: 30px 16px;
	/* height: 80px; */
	z-index: 10000;
	box-sizing: border-box;
	border-top: 1px solid #EAE7E1;
	-webkit-box-shadow: 0px -4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px -4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px -4px 8px 0px rgba(34, 60, 80, 0.2);
}

.sogl * {
	color: #0D1011;
}

.sogl .cont {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}

.sogl .cont p {
	font-size: 18px;
	font-weight: 400;
	line-height: 25.2px;
	text-align: left;
	max-width: 765px;
}

.sogl .cont p a {
	font-size: 18px;
	font-weight: 500;
	line-height: 25.2px;
	text-align: left;
	color: #725E51;
}

.sogl .cont .button {
	max-width: 250px;

	&:not(:hover) {
		color: #E4E2DE;
	}
}

@media (max-width: 720px) {
	.sogl .cont {
		flex-direction: column;
	}

	.sogl .cont .button {
		max-width: none;
	}

	.sogl .cont p a,
	.sogl .cont p {
		font-size: 16px;
		font-weight: 400;
		line-height: 22.4px;
		text-align: left;
	}

}

.for-start-quest {
	height: 0;
}

.quest-sect {
	overflow: hidden;
	transition: 0.5s;
	cursor: pointer;
}

.quest-title,
.quest-cont {
	transition: 0.5s;
}

.quest-cont {
	overflow: hidden;
}

.quest-sect .default {
	margin: 0;
}

.tooltip-horizontal-scroll-icon_hand {
	animation: tooltip-horizontal-scroll-icon_anim-scroll-hand 2s infinite;
}

.tooltip-horizontal-scroll-icon_card {
	animation: tooltip-horizontal-scroll-icon_anim-scroll-card 2s infinite;
}

@keyframes tooltip-horizontal-scroll-icon_anim-scroll-hand {
	0% {
		transform: translateX(80px) scale(1);
		opacity: 0;
	}

	10% {
		transform: translateX(80px) scale(1);
		opacity: 1;
	}

	20%,
	60% {
		transform: translateX(175px) scale(0.6);
		opacity: 1;
	}

	80% {
		transform: translateX(5px) scale(0.6);
		opacity: 1;
	}

	to {
		transform: translateX(5px) scale(0.6);
		opacity: 0;
	}
}

@keyframes tooltip-horizontal-scroll-icon_anim-scroll-card {

	0%,
	60% {
		transform: translateX(0);
	}

	80%,
	to {
		transform: translateX(-240px);
	}
}

.t1004__scroll-icon-wrapper {
	display: flex;
	justify-content: end;
	// margin-bottom: 20px;
	position: absolute;
	bottom: 100%;
	// top: 20px;
	right: 0;
	left: auto;
	z-index: 1;
}

@media (min-width: 1441px) {
	.t1004__scroll-icon-wrapper {
		display: none;
	}
}

[data-check-lines] {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;

	&.opened {
		display: block;
	}
}

.button-more {
	font-family: Manrope;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0%;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-offset: 50%;
	text-decoration-thickness: 3%;
	text-decoration-skip-ink: auto;
	color: #725E51;
	cursor: pointer;
	transition: .5s;

	&:hover {
		opacity: .7;
	}
}

.checkbox.v2 {
	margin-top: 15px;
	display: flex;
	gap: 15px;

	.check-box-btn {
		border: 1px solid #6C5444;
		max-width: 20px;
		max-height: 20px;
		min-height: 20px;
		min-width: 20px;
		border-radius: 2px;
		cursor: pointer;

		.check {
			width: 100%;
			height: 100%;
		}
	}

	&.checked {
		.check-box-btn {
			border: none;
		}
	}

	&.err {
		.check-box-btn {
			border: 1px solid #a73333;
		}
	}

	p {
		font-family: Manrope;
		font-weight: 400;
		font-size: 12px;
		line-height: 100%;
		letter-spacing: 0%;
		color: #8B7872;
		max-width: 362px;

		* {
			font-family: Manrope;
			font-weight: 400;
			font-size: 12px;
			line-height: 100%;
			letter-spacing: 0%;
			color: #8B7872;
		}

		a {
			text-decoration: underline;
		}
	}
}